#root {
  width: 100%;
  height: 100%;
  --black: #000000;
  --light-black: #263238;
  --white: #ffffff;
  --shadow-color:rgba(52, 54, 72, 0.25);
  --darkblue: #270179;
  --skyblue: skyblue;
  --darkskyblue: #00D1FF;
  --grey: #F0F0F0;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
form{
  margin-bottom: 0.8rem;

}

.content-box {
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 1px 2px 8px var(--shadow-color); /* Border shadow effect */
  background-color: var(--white);
 
}

.link{
 margin-left: auto;
 color: var(--darkblue);

}
p,h3 {
  margin: 0px;
}

.loginform > h3 {
  color: var(--light-black);
}


.login-form-container {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}
.input-box{
  padding: 0.6rem;
  border: solid 1.5px transparent;
  border-radius: 0.4rem;
  background: var(--grey);
}
.input-box:focus{
  background: var(--white);
}
.input-box:hover{
  border-color: var(--skyblue);
}

.flex {
  display: flex;
  gap:0.5rem;
}

.row{
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex > input,button {
  flex: 1;
}

.center{
  justify-content: center;
  align-items: center;
}

.left{
  justify-content: flex-start;
}

.right{
  justify-content: flex-end;
}
.wrap{
  flex-wrap: wrap;
}
.middle{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
}
#brand-icon{
  margin-bottom: 2rem;
}

#brand-icon > img{
  max-width: 8rem;
}


.button{
  height: 2.5rem;
  border: solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
}

.login{
  background: var(--darkskyblue);
  color: var(--white);
  font-weight: bold;
}

.button:active{
  opacity: 0.8;
}



#line1{
  width: 50%;
  background-color: var(--light-black);
  height: 1px;
  /* margin:0 5px; */
  
}

.seperation-line{
  color:var(--light-black);
  font-size: 0.8rem;
}
#giticon{
 width: 1.5rem;


}

.github{
  background-color: var(--light-black);
  color: var(--white);
  /* font-family: 'monospace'; */
}

.smalltext{
  font-size: 0.8rem;
}