#root {
  width: 100vw;
  height: 100vh;
  --black: #000000;
  --light-black: #263238;
  --white: #ffffff;
  --shadow-color:rgba(52, 54, 72, 0.25);
  --darkblue: #270179;
  --skyblue: skyblue;
  --darkskyblue: #00D1FF;
  --grey: #eeeeee;
  --light-white: #fdfdff;
  --purple: #8A38F5;
  --light-purple: #e5d4fc;
  --lightpurplewhite: #f8f2ff;
  --notifier-red-color: rgb(255, 174, 174);
  --notifier-green-color: rgb(115, 240, 202);
  --notifier-yellow-color: rgb(255, 255, 105);
}

.canvas{
  height: 100vh; 
  width: 100vw;
}

@keyframes notification-animation {
  0%{
    display: none;
  }
  100%{
    display: block;
  }
}

.greybg{
  background: var(--lightpurplewhite);
}

.notifier {
  color: var(--light-black);
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  /* border: var(--notifier-red-color); */
  opacity: 1;
  position: absolute;
  top: 1%;
  right: 1%;
  /* overflow: hidden; */
  animation: notification-animation 1s ease-in;
  z-index: 99;

}
.notifier-normal {
  background: white;
  border: 0.1rem solid var(--black);
  border-bottom: 0.3rem solid var(--black);
  border-left:0.3rem solid var(--black);
  border-radius: 0.3rem;
  padding: 1rem;
}
.notifier-red{
  background: var(--notifier-red-color);
  
}
.notifier-yellow{
  background: var(--notifier-yellow-color);
}

.notifier-green{
  background: var(--notifier-green-color);
}


.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
form{
  margin-bottom: 0.8rem;

}

.content-box {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  padding: 2rem;
  min-width: 20%;
  max-width: 80%;
}

.searchbar{
  margin-bottom: 0.8rem;
}

.navbar-container {
  width: 17%; 
  /* height: 100%; */
  background: var(--light-white); /* Semi-transparent white */
  padding: 1rem;
  /* margin: 0.5rem; */
  /* border-radius: 1rem; */
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Optional: subtle shadow for depth */
  /* backdrop-filter: blur(10px); Blurs the content behind the navbar */
  /* -webkit-backdrop-filter: blur(10px); For Safari */
  border: 1px solid rgba(206, 204, 204, 0.3); /* Optional: border for glassy look */
}

.menuicon{
  width: 1rem;
}

.link{ 
 /* margin-left: auto; */
 color: var(--purple);

}

.loginform > .link {
  margin-left: auto;
}
p,h3,h2,h1,a { 
  margin: 1px;
}

.loginform > h3 {
  color: var(--light-black);
}


.login-form-container {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}
.input-box{
  padding: 0.6rem;
  border: solid 1.5px transparent;
  border-radius: 0.4rem;
  background: var(--white);
}
/* .input-box:focus{
  background: var(--white);
} */

.appheader {
  width: 100%;
  padding: 1rem;
  position: relative;
  top:0;
  background: white;
  box-sizing: border-box;
  /* box-shadow: 1px 2px 8px var(--shadow-color); */
}
.appheading{
  font-size: 1.5rem;
  color: var(--purple)
}
.input-box:hover{
  border-color: var(--skyblue);
}

.flex {
  display: flex;
  gap:0.5rem;
}

.row{
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.flex > input,button {
  flex: 1;
}

.center{ 
  justify-content: center;
  align-items: center;
}

.gap{
  gap: 0.5rem;
}

.gap-medium {
  gap: 1rem;
}

.left{
  justify-content: flex-start;
}

.right{
  justify-content: flex-end;
}
.wrap{
  flex-wrap: wrap;
}
.middle{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
}
#brand-icon{
  margin-bottom: 2rem;
}

.hcenter{
  justify-content: center;
}

.vcenter {
  align-items: center;
}


#brand-icon > img{
  max-width: 8rem;
}


.button{
  height: 2.5rem;
  border: solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
}

.login{
  background: var(--purple);
  color: var(--white);
  font-weight: bold;
}

.button:active{
  opacity: 0.8;
}



#line1{
  width: 50%;
  background-color: var(--light-black);
  height: 1px;
  /* margin:0 5px; */
  
}

.seperation-line{
  color:var(--light-black);
  font-size: 0.8rem;
}
#giticon{
  width: 1.5rem;
}

.btn-dark{
  background-color: var(--light-black);
  color: var(--white);
  /* font-family: 'monospace'; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.btn-light{
  background: white;
  border: solid 0.1rem var(--light-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}

.material-input{
  border: solid transparent;
  padding: 0.7rem;
  border-bottom: solid 0.2rem var(--shadow-color);
  outline: none;
  transition: 1s;
  background: var(--grey);
  font-size: 1rem;
  border-radius: 0.5rem;
}
.workspace-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}
.workspace-box{
  border: solid 0.4px var(--shadow-color);
  border-radius: 0.4rem;
  width: 300px;
  height: 100px;
  /* width: 30%; */
  padding: 1rem;
  cursor: pointer;;
}
.material-input:active,.material-input:focus{
  border: solid transparent;
  border-bottom: solid 0.2rem var(--light-black);
  transition: 1s;
  background: var(--white);
}

.smalltext{
  font-size: 0.8rem;
}

.white-bg{
  background: white;
}

@keyframes dialog-fade {
  0%{
    min-width: 0%;
  }
  
  100%{
    min-width: 30%; 
  }
}

.dialog-box{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);  
  min-width: 30%; 
  min-height: 30%;
  padding: 3rem;
  box-shadow: 2px 2px 20px var(--shadow-color);
  animation: dialog-fade 0.2s ease-in-out;
}


.component-view {
  width: 97%;
}
.tab{
  padding: 0.6rem;
  cursor: pointer; 
  /* gap:0.5rem; */
}
.active-tab{
  background: var(--light-purple);
  
  border-radius: 0.4rem;
}

.width-full {
  max-width: 100%;
  padding: 0.8rem;
  border-radius: 0px;
}