#root {
  width: 100%;
  height: 100%;
  --black: #000000;
  --light-black: #263238;
  --white: #ffffff;
  --shadow-color:rgba(52, 54, 72, 0.25);
  --darkblue: #270179;
  --skyblue: skyblue;
  --darkskyblue: #00D1FF;
  --grey: #F0F0F0;

  --purple: #8A38F5;
  --notifier-red-color: rgb(255, 174, 174);
  --notifier-green-color: rgb(115, 240, 202);
  --notifier-yellow-color: rgb(255, 255, 105);
}

.notifier {
  color: var(--light-black);
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
  border: var(--notifier-red-color);
  opacity: 0.8;
}
.notifier-red{
  background: var(--notifier-red-color);
  
}
.notifier-yellow{
  background: var(--notifier-yellow-color);
}

.notifier-green{
  background: var(--notifier-green-color);
}


.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
form{
  margin-bottom: 0.8rem;

}

.content-box {
  background: linear-gradient(147.38deg, rgba(238, 216, 255, 0.4) -17.41%, rgba(180, 246, 255, 0.4) 131.98%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.9px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
  padding: 2rem;
 
}

.link{
 margin-left: auto;
 color: var(--purple);

}
p,h3 {
  margin: 0px;
}

.loginform > h3 {
  color: var(--light-black);
}


.login-form-container {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}
.input-box{
  padding: 0.6rem;
  border: solid 1.5px transparent;
  border-radius: 0.4rem;
  background: var(--white);
}
/* .input-box:focus{
  background: var(--white);
} */
.input-box:hover{
  border-color: var(--skyblue);
}

.flex {
  display: flex;
  gap:0.5rem;
}

.row{
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.flex > input,button {
  flex: 1;
}

.center{
  justify-content: center;
  align-items: center;
}

.left{
  justify-content: flex-start;
}

.right{
  justify-content: flex-end;
}
.wrap{
  flex-wrap: wrap;
}
.middle{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  justify-content: center;
  align-items: center;
}
#brand-icon{
  margin-bottom: 2rem;
}

#brand-icon > img{
  max-width: 8rem;
}


.button{
  height: 2.5rem;
  border: solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
}

.login{
  background: var(--purple);
  color: var(--white);
  font-weight: bold;
}

.button:active{
  opacity: 0.8;
}



#line1{
  width: 50%;
  background-color: var(--light-black);
  height: 1px;
  /* margin:0 5px; */
  
}

.seperation-line{
  color:var(--light-black);
  font-size: 0.8rem;
}
#giticon{
 width: 1.5rem;


}

.github{
  background-color: var(--light-black);
  color: var(--white);
  /* font-family: 'monospace'; */
}

.smalltext{
  font-size: 0.8rem;
}